
body{
    background-color: #000000;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}
h1{
  color: #fff;
  text-align: center;
  font-size: 25px;
}
form {
    max-width: 600px;
   
    padding: 30px;
    background-color: #fffffff3;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
 
  form input[type="text"],
  form select,
  form textarea {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
  }
  
  form input[type="radio"] {
    margin-right: 10px;
  }
  
  form h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  form textarea {
    resize: none;
  }
  
  form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #0008ff;
  }
  div{
    align-items: center;
    margin-left: 300px;
  }
  